body {
  font-family: 'Noto Sans JP', 'Nunito', 'Nunito', sans-serif;
  color: #1f1f1f;
  text-align: center;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;
}

@media screen and (max-width: 375px) {
  .header {
    height: 50px;
    width: 100%;
    background-color: white;
    z-index: 100;
    position: fixed;
  }
}

.header .header_icon {
  width: 170px;
  position: fixed;
}

@media screen and (max-width: 768px) {
  .header .header_icon {
    width: 80px;
  }
}

@media screen and (max-width: 375px) {
  .header .header_icon {
    width: 100px;
  }
}

.header .header_icon img {
  width: 100%;
}

.header .header_nav .header_nav_inner {
  display: flex;
  position: absolute;
  right: 0;
  top: 30px;
}

@media screen and (max-width: 375px) {
  .header .header_nav .header_nav_inner {
    display: block;
    top: 50px;
    right: -500px;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 1s;
  }
}

.header .header_nav .header_nav_inner .header_nav_item {
  margin-right: 60px;
}

@media screen and (max-width: 375px) {
  .header .header_nav .header_nav_inner .header_nav_item {
    margin: 50px auto;
  }
}

.header .header_nav .header_nav_inner .header_nav_item a {
  color: #1f1f1f;
}

@media screen and (max-width: 375px) {
  .header .header_nav .header_nav_inner .header_nav_item a {
    font-size: 2rem;
  }
}

.header .header_nav .header_nav_inner .header_nav_item a:hover {
  opacity: .5;
}

.header .header_nav .panelActive {
  right: 0;
}

.header .open_btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: -100px;
  top: 20px;
}

@media screen and (max-width: 375px) {
  .header .open_btn {
    right: 10px;
  }
}

.header .open_btn span {
  width: 30px;
  height: 2px;
  border-radius: 5px;
  margin-bottom: 8px;
  display: block;
  background-color: #1f1f1f;
}

.fv_wrapper {
  padding: 50px 0 110px 0;
  text-align: center;
  background-color: #FB3636;
  position: relative;
}

@media screen and (max-width: 375px) {
  .fv_wrapper {
    padding: 80px 0 80px 0;
  }
}

.fv_wrapper .fv_logo {
  width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .fv_wrapper .fv_logo {
    width: 400px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 375px) {
  .fv_wrapper .fv_logo {
    width: 250px;
  }
}

.fv_wrapper .header_icon {
  margin-bottom: 50px;
}

.fv_wrapper .fv_img {
  max-width: 1000px;
  border-radius: 50px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .fv_wrapper .fv_img {
    width: 70%;
  }
}

@media screen and (max-width: 375px) {
  .fv_wrapper .fv_img {
    width: 100%;
  }
}

.fv_wrapper .fv_img .slider .slick-arrow {
  display: none !important;
}

.fv_wrapper .fv_img img {
  width: 100%;
  border-radius: 50px;
}

@media screen and (max-width: 375px) {
  .fv_wrapper .fv_img img {
    border-radius: 0;
  }
}

.fv_wrapper .side_nav {
  position: fixed;
  right: -30px;
  top: 60px;
  transition: all .3s;
  z-index: 90;
}

@media screen and (max-width: 375px) {
  .fv_wrapper .side_nav {
    display: none;
  }
}

.fv_wrapper .side_nav .side_nav_innner {
  display: flex;
  flex-direction: row;
  writing-mode: vertical-rl;
}

.fv_wrapper .side_nav .side_nav_innner .side_nav_item {
  text-align: left;
  padding: 10px 45px 10px 10px;
  margin-bottom: 30px;
  border: 1px solid #ffff;
  border-radius: 5px;
  background-color: #FB3636;
}

.fv_wrapper .side_nav .side_nav_innner .side_nav_item a {
  color: #ffff;
}

.consept_wrapper {
  background-image: url(/img//YAOYA_kodawari.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .consept_wrapper {
    padding: 50px 0;
  }
}

.consept_wrapper .consept_inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
  background-color: #ffff;
  border-radius: 50px;
  z-index: 50;
}

@media screen and (max-width: 768px) {
  .consept_wrapper .consept_inner {
    width: 70%;
    padding: 50px;
  }
}

@media screen and (max-width: 375px) {
  .consept_wrapper .consept_inner {
    width: 60%;
    text-align: left;
  }
}

.consept_wrapper .consept_inner h2 {
  font-size: 1.5rem;
}

@media screen and (max-width: 375px) {
  .consept_wrapper .consept_inner h2 {
    font-size: 1rem;
  }
}

.consept_wrapper .consept_inner h2 img {
  width: 170px;
}

@media screen and (max-width: 375px) {
  .consept_wrapper .consept_inner h2 img {
    width: 120px;
  }
}

.consept_wrapper .consept_inner .consept_text_1 {
  line-height: 55px;
  letter-spacing: .2rem;
}

@media screen and (max-width: 375px) {
  .consept_wrapper .consept_inner .consept_text_1 {
    line-height: 30px;
    font-size: .8rem;
  }
}

.consept_wrapper .consept_inner .consept_text_1 span {
  font-size: 1.5rem;
  color: #FB3636;
}

@media screen and (max-width: 375px) {
  .consept_wrapper .consept_inner .consept_text_1 span {
    font-size: 1.2rem;
  }
}

.consept_wrapper .consept_inner .consept_text_2 {
  font-size: 2rem;
  line-height: 55px;
}

@media screen and (max-width: 375px) {
  .consept_wrapper .consept_inner .consept_text_2 {
    font-size: 1.2rem;
    line-height: 30px;
  }
}

.consept_wrapper .consept_inner .consept_text_3 {
  font-size: 1.5rem;
  line-height: 55px;
}

@media screen and (max-width: 375px) {
  .consept_wrapper .consept_inner .consept_text_3 {
    font-size: 1.2rem;
    line-height: 30px;
  }
}

.news_wrapper {
  padding: 130px 0;
}

@media screen and (max-width: 375px) {
  .news_wrapper {
    padding: 80px 0;
  }
}

.news_wrapper .news_inner {
  display: flex;
  max-width: 1000px;
  margin: 0 auto 90px;
  background-color: #FCF0D7;
}

@media screen and (max-width: 768px) {
  .news_wrapper .news_inner {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .news_wrapper .news_inner {
    display: block;
    margin-bottom: 40px;
  }
}

.news_wrapper .news_inner:last-of-type {
  margin-bottom: 0;
}

.news_wrapper .news_inner .news_item {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 375px) {
  .news_wrapper .news_inner .news_item {
    width: 100%;
  }
}

.news_wrapper .news_inner .news_item a {
  color: #ffff;
}

.news_wrapper .news_inner .news_item .news_img {
  width: 100%;
  height: 100%;
  position: relative;
}

.news_wrapper .news_inner .news_item .news_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_wrapper .news_inner .news_item .news_img p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .news_wrapper .news_inner .news_item .news_img p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .news_wrapper .news_inner .news_item .news_img p {
    font-size: 1.3rem;
  }
}

.news_wrapper .news_inner .news_text {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 375px) {
  .news_wrapper .news_inner .news_text {
    width: 100%;
  }
}

.news_wrapper .news_inner .news_text::after {
  content: "";
  display: block;
  width: 32px;
  height: 100%;
  background-color: #FB3636;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 375px) {
  .news_wrapper .news_inner .news_text::after {
    display: none;
  }
}

.news_wrapper .news_inner .news_text a {
  color: #1f1f1f;
}

.news_wrapper .news_inner .news_text a .n_text {
  width: 100%;
}

.news_wrapper .news_inner .news_text a .n_text h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 35px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .news_wrapper .news_inner .news_text a .n_text h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}

.news_wrapper .news_inner .news_text a .n_text h2::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #FB3636;
  position: absolute;
  left: 40px;
  top: 25px;
}

@media screen and (max-width: 375px) {
  .news_wrapper .news_inner .news_text a .n_text h2::before {
    width: 170px;
    top: 35px;
    left: 20px;
  }
}

.news_wrapper .news_inner .news_text a .n_text p {
  font-size: 1.2rem;
  text-align: left;
  line-height: 3rem;
  margin-left: 60px;
}

@media screen and (max-width: 768px) {
  .news_wrapper .news_inner .news_text a .n_text p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-left: 30px;
  }
}

.acsess {
  background-color: #FB3636;
  padding: 100px;
}

@media screen and (max-width: 768px) {
  .acsess {
    padding: 80px 0;
  }
}

@media screen and (max-width: 375px) {
  .acsess {
    padding: 50px 0;
  }
}

.acsess .acsess_wrapper {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .acsess .acsess_wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .acsess .acsess_wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.acsess .acsess_wrapper .map {
  width: 50%;
}

@media screen and (max-width: 375px) {
  .acsess .acsess_wrapper .map {
    order: 2;
  }
}

@media screen and (max-width: 375px) {
  .acsess .acsess_wrapper .map {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .acsess .acsess_wrapper .map iframe {
    width: 100%;
  }
}

.acsess .acsess_wrapper .acsess_info {
  width: 50%;
  text-align: left;
  margin-left: 90px;
}

@media screen and (max-width: 768px) {
  .acsess .acsess_wrapper .acsess_info {
    margin-left: 20px;
  }
}

@media screen and (max-width: 375px) {
  .acsess .acsess_wrapper .acsess_info {
    margin-bottom: 30px;
  }
}

.acsess .acsess_wrapper .acsess_info .acsess_logo {
  width: 200px;
  margin-bottom: 20px;
}

@media screen and (max-width: 375px) {
  .acsess .acsess_wrapper .acsess_info .acsess_logo {
    width: 150px;
  }
}

.acsess .acsess_wrapper .acsess_info p {
  line-height: 2rem;
  color: #ffff;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .acsess .acsess_wrapper .acsess_info p {
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .acsess .acsess_wrapper .acsess_info p {
    font-size: .9rem;
  }
}

footer {
  height: 80px;
}

footer small {
  line-height: 80px;
}
/*# sourceMappingURL=style.css.map */